.hero_section {
    padding-top: 150px;
}

.hire_btn {
    background: #fff;
    color: #0E1B31;
}

.hire_btn a {
    text-decoration: none;

}

.hire_btn a {
    text-decoration: none;
    font-weight: 500;
}

.hero_title span {
    color: #7865FF;
}

.hero_title {
    font-weight: 600;
}

.hero_img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background: #7865FF;
    margin-left: auto;
}

.hero_content p {
    line-height: 30px;
    font-weight: 300;
}