.about_btn {
    background: #102048;
    border-radius: 10px;
    /* padding: 20px; */
}

.about_btns {
    border: none;
    outline: none;
    width: 100%;
    color: #fff;
    padding: 20px;
    background: transparent;
    border-bottom: 1px solid #7865FF;
    border-radius: 5px 5px 0px 0px;

}

.about_btns-active {
    background: #7865FF;
}

.about_btns:last-child {
    border-bottom: 0;
    border-radius: 0px 0px 5px 5px;
}

.about_content_wrapper {
    background: #132347;
    padding: 30px;
    border-radius: 10px;
}

.about_content h2 {
    margin-bottom: 15px;
}

.about_content p {
    line-height: 30px;
    font-weight: 300;
}

.about_img {
    margin-top: -15px;
    background: #7865FF;
    border-radius: 10px;
    height: 195px;
}

.social_links span a i {
    color: #7865FF;

}



.social_links span a {
    margin-right: 15px;
}


@media only screen and (max-width: 992px) {
    .about_btn {
        padding: 10px 25px;
        font-size: .8rem;
    }

    .about_content h2 {
        font-size: 1.5rem;
    }

    .about_btn {
        margin-bottom: 40px;
    }

    .about_content p {
        font-size: .8rem;
    }
}